@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
         url('bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratsemibold';
    src: url('montserrat_semibold_600-webfont.woff2') format('woff2'),
         url('montserrat_semibold_600-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratmedium';
    src: url('montserrat_medium_500-webfont.woff2') format('woff2'),
         url('montserrat_medium_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('montserrat_bold_700-webfont.woff2') format('woff2'),
         url('montserrat_bold_700-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}