:root {
    --body-fonts: #231F20;
    --text-white: white;
    --color-project: #14475F;
    --number-color:#2891B2;
    --card-background-color:#1085A9;
    --background-footer:#87C5E0;
}
*,
*::after,
::before {
    box-sizing: border-box;
}
body {
    /* font-weight: 500;
    font-size: 14px; */
    height: 100%;
    line-height: 21px;
    font-family: 'montserrat', 'bebasneue' sans-serif;
    color: var(--body-fonts);
}
#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.container {
    margin: 0 auto;
    max-width: 1150px;
    width: 100%;
}
h1 {
    color: var(--text-white);
    font-family: 'bebasneue';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 61px;
    display: flex;
    align-items: center;
}
h2 {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
}
span {
    font-family: 'bebasneue';
    font-style: normal;
    font-weight: 700;
    font-size: 162px;
    line-height: 162px;
    text-align: center;
    color: var(--number-color);
    margin: 15px 15px;
}
.header {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 713px;
    background-position: top;
    max-width: 100%;
    vertical-align: top;
    height: auto;
}
.header .container {
    max-width: 100%;
}
.project {
    background-color: var(--color-project);
    height: 87px;
}
.text {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
}
.card {
    min-width: 255px;
    background: var(--card-background-color);
}
.card:hover {
    box-shadow: 1px 1px 6px;
}
.card_photo {
    color: var(--text-white);
    width: 125px;
    margin: 0 auto;
}
.circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
  }
.block2 {
    max-width: 1110px;
    min-height: 430px;
    color: black;
    margin: 0 auto;
    padding: 0 0;
}
.cards {
    margin: 0 -15px;
    padding: 0;
    list-style: none;
    padding-bottom: 81px;
}
.cards>li {
    display: inline-block;
    width: calc(100% / 4);
    padding: 0 15px;
    margin-right: -4px;
    vertical-align: top;
}
.text_card {
margin: 0 20px;
}
.text_card p {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    transition: var(--card-background-color);
    cursor: pointer;
}
.footer {
    background: var(--background-footer);
}
/* .header-logo {
background-image: url(../images/background.png);
background-size: cover;
width: 100%;
min-width: 600px;
background-repeat: no-repeat;
/* background-position: 50% 50%; */
}

/* .logo {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 162px;
    height: 75px;
    z-index: auto;
} */
/* .text {
    padding-left: 0;
    padding-top: 160px;
} */
/* .text > p {
    font-family: 'bebasneue';
    font-size: 61px;
    line-height: 61px;
    display: flex;
    align-items: center;
    color: var(--body-fonts);
}