:root {
    --body-fonts: #231F20;
    --text-white: white;
    --color-project: #14475F;
    --number-color:#2891B2;
    --card-background-color:#1085A9;
    --background-footer:#87C5E0;
    --background-f2:#14475F;
    --color-p:#414042;
}
*,
*::after,
::before {
    box-sizing: border-box;
}
body {
    /* font-weight: 500;
    font-size: 14px; */
    height: 100%;
    line-height: 21px;
    font-family: 'montserrat', 'bebasneue' sans-serif;
    color: var(--body-fonts);
}
#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.container {
    margin: 0 auto;
    /* max-width: 1150px; */
    width: 100%;
}
.header {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo img {
    width: 100%;
}
.logo {
    float: right;
    margin: 30px 30px;
}
.text_header {
    padding-top: 55%;
}
h1 {
    color: var(--text-white);
    font-family: 'bebasneue';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 61px;
    /* display: flex;
    align-items: center; */
    margin: 0 30px;
}
h2 {
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: var(--text-white);
    padding: 26px 20px;
    margin: 0;
}
span {
    font-family: 'bebasneue';
    font-style: normal;
    font-weight: 700;
    font-size: 162px;
    line-height: 162px;
    text-align: center;
    color: var(--number-color);
    margin: 15px 15px;
}
.project {
    background-color: var(--color-project);
    height: 90px;
}
h3 {
    font-family: 'montserrat';
    font-size: 30px;
    line-height: 37px;
    color: var(--color-project);
    margin: 30px;
    padding-top: 40px;
}
.block_text p {
    font-family: 'montserrat';
    font-size: 18px;
    line-height: 22px;
    color: var(--color-p);
    margin: 40px 30px;
}
.text_p {
    margin-top: -30px;
}
.card {
    width: 255px;
    height: 268px;
    background: var(--card-background-color);
}
.card:hover {
    box-shadow: 1px 1px 6px;
}
.card_photo {
    color: var(--text-white);
    width: 125px;
    /* margin: 0 auto; */
}
.circle {
    height: 50px;
    width: 50px;
    background-color: var(--text-white);
    border-radius: 50%;
  }
.block2 {
    max-width: 1110px;
    min-height: 430px;
    color: var(--body-fonts);
    margin: 0 auto;
    padding: 0 0;
}
.cards {
    margin: 0 -30px;
    list-style: none;
    padding-left: 0;
}
.circle img {
margin: 10px;
}
.card_li {
        display: flex;
        width: calc(100% / 4);
        padding: 0 15px;
        margin-right: -4px;
        vertical-align: top;
}
.cards>li {
    display: inline-block;
    width: calc(100% / 4);
    padding: 0 15px;
    margin-right: -4px;
    vertical-align: top;
}
.text_card p {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    transition: var(--card-background-color);
    cursor: pointer;
}
.explore {
padding: 10px;
margin: 10px;
}
.icon {
margin: 30px;
padding: 30px;
}
.footer {
    background: var(--background-footer);
}
.footer_span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}